.bannerImage{
    width: 100%;
    height: 500px;
    opacity: 40%;
    object-fit: cover;
    z-index: -9;
    padding-bottom: 50px;
}
.services-container .col-xl i{
    padding: 20px;
}
.home-statement{
    margin-bottom: 20px;
}
.fas{
    padding: 20px;
}
body{
    color: #587377;
}
.fas{
    color: #587377;
}